window {
  border-radius: 12px;
  padding: 10px;
}

#input {
  padding: 10px;
  margin: 6px;
  border-radius: 10px;
}

#entry {
  padding: 8px;
  border-radius: 10px;
}

#entry:selected {
  border-radius: 10px;
}
